.articles {
  color: white;
  display: inline-grid;
  grid-gap: 3%;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 10% 0 15%;
}

.articles h3 {
  font-weight: bold;
}

@media (max-width: 767px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
