.toolbar {
  width: 5%;
  height: 100%;
  position: fixed;
  background-color: #16161d;
  color: white;
}

.scroll-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: center;
  margin: 0 auto 0 auto;
}
