.toolbar {
  z-index: 1;
  width: 5%;
  height: 100%;
  display: block;
  position: fixed;
  background: rgba(51, 27, 58, 0.9);
  color: white;
}

.scroll-text {
  margin: 0 auto 0 auto;
}

.scroll-text p {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin: 100% auto 0 auto;
  font-size: 10px;
  font-weight: bold;
}
