.intro {
  position: relative;
  margin: 0 0 4% 60px;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  border: rgba(51, 27, 58) 0.5px ridge;
}

.intro-logo {
  width: 45%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.intro-text {
  position: absolute;
  width: 30%;
  bottom: 2%;
  left: 5%;
}

.intro-text h3 {
  font-weight: bold;
}

.intro-text p {
  font-size: 12px;
}
.date {
  color: white;
  float: right;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media (max-width: 1023px) {
  .intro {
    margin-left: 50px;
  }
  .intro-logo {
    top: 25%;
    width: 50%;
  }
}
