#footer {
  width: 100%;
  display: flex;
  color: white;
}

#footer h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #367588;
}

.li-no-style {
  padding-inline-start: 10%;
  list-style: none;
  text-transform: capitalize;
  font-size: 12px;
}

.aboutme {
  padding: 0;
  margin-left: 10%;
  width: 25%;
}

#copyright {
  color: rgb(139, 0, 139);
  font-size: 8px;
  text-align: center;
  padding-bottom: 20px;
}
