.slider-wrapper {
  color: white;
  margin: 0 0 0 5%;
}

.slider-wrapper h4 {
  font-size: 20px;
  margin: 0;
  padding: 0 0 0 3%;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}

.slider-title {
  padding-left: 3%;
}

.sliders {
  width: 100%;
  font-size: 10px;
  margin-top: 3%;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.slider {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
}

.cut-image {
  width: 100%;
  position: relative;
}

.cut-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 0px;
  border-left: 10px solid rgb(51, 27, 58);
  border-top: 10px solid transparent;
  border-bottom: 10px solid rgb(51, 27, 58);
  border-right: 10px solid transparent;
}

.cut-image img {
  width: 100%;
  opacity: 0.65;
}

.cut-img-text {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.slider-description {
  margin-left: 2em;
  color: black;
}

.slider-description h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.slider-description p {
  font-size: 14px;
}

.glyphicon-option-horizontal {
  float: right;
  font-weight: bold;
  margin-right: 5%;
}

@media (max-width: 1023px) {
  .sliders {
    grid-template-columns: auto auto;
  }
}
