.slider-wrapper {
  color: white;
  margin: 0 0 0 60px;
}

.slider-wrapper h4 {
  font-size: 20px;
  margin: 0;
  padding: 0 0 0 3%;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}

.slider-title {
  padding-left: 3%;
}

.sliders {
  width: 100%;
  font-size: 10px;
  margin-top: 3%;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 5px;
  margin-bottom: 50px;
}

.slider {
  display: flex;
  flex-direction: column;
}

.cut-image {
  width: 100%;
  position: relative;
}

.cut-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 0px;
  border-left: 10px solid rgb(51, 27, 58);
  border-top: 10px solid transparent;
  border-bottom: 10px solid rgb(51, 27, 58);
  border-right: 10px solid transparent;
}

.cut-image img {
  width: 100%;
  opacity: 0.65;
}

.cut-img-text {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.slider-description {
  flex: 1 0 auto;
  position: relative;
  background-color: white;
  padding: 0 5px 0 2em;
  color: black;
}

.slider-description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 10px solid rgb(51, 27, 58);
  border-top: 10px solid rgb(51, 27, 58);
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
}

.slider-description h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.slider-description p {
  font-size: 14px;
}

.glyphicon-option-horizontal {
  float: right;
  font-weight: bold;
  margin: 5px 5% 0 0;
}

.bottom-content {
  background-color: white;
  border-top: gray 1px solid;
  color: black;
  padding: 0 0 5px 5%;
}

.bottom-content span {
  font-size: 14px;
}

.glyphicon-comment {
  font-size: 12px !important;
  color: gray;
}

@media (max-width: 1023px) {
  .slider-wrapper {
    margin-left: 50px;
  }
  .sliders {
    grid-template-columns: repeat(2, 1fr);
  }

  .slider-description h2 {
    font-size: 14px;
  }

  .slider-description p {
    font-size: 10px;
  }
}
